body {
	font-family: Arial, sans-serif;
}


/* @group jModal
   ========================================================================== */
#jmodal-modal {
	background: #1b1b1b url('../img/bkg-noise-50.png') 50% 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
	left: 50%;
	line-height: 0;
	padding: 16px;
	position: fixed;
	z-index: 1000;
}
#jmodal-modal.jmodal-modal-gallery {
	padding-bottom: 70px;
}
.jmodal-close {
	background: url('../img/jmodal-close.png');
	display: block;
	height: 39px;
	position: absolute;
	right: -19px;
	text-indent: -9999px;
	top: -19px;
	width: 39px;
}
.jmodal-content {
	background: #000 url('../img/ajax-loader-40Black.gif') no-repeat 50% 50%;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	height: 100%;
	overflow: hidden;
	width: 100%;
}

/* gallery links */
.jmodal-gallery-links {
	bottom: 20px;
	height: 34px;
	left: 0;
	line-height: 34px;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: center;
}
.jmodal-gallery-links a {
	color: #999;
	display: inline-block;
	font-size: 13px;
	outline: none;
	padding: 0 10px;
	text-decoration: underline;
}
.jmodal-gallery-prev {
	float: left;
}
.jmodal-gallery-next {
	float: right;
}
.jmodal-gallery-links a:hover {
	color: #fff;
}
.jmodal-gallery-links .selected {
	color: #fff;
	cursor: default;
	font-weight: 700;
	text-decoration: none;
}
/* @end */


/* @group carousel busy loader
	========================================================================== */
#modal-busyloader {
	background: #000 url('../img/ajax-loader-40Black.gif') no-repeat 50% 50%;
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
	height: 60px;
	left: 50%;
	margin: -30px 0 0 -30px;
	position: absolute;
	top: 50%;
	width: 60px;
	z-index: 999;
}
/* @end */