body {
	background: #fff;
	margin: 100px;
}

#jmodal {
	background: #1b1b1b url('../img/bkg-noise-50.png') 50% 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
	left: 50%;
	line-height: 0;
	opacity: 0;
	padding: 20px;
	position: fixed;
	top: -50%;
	-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		  -o-transform: translate3d(0,0,0);
			  transform: translate3d(0,0,0);
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
		-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
		  -o-transition: opacity 300ms ease-out, top 300ms ease-out;
			  transition: opacity 300ms ease-out, top 300ms ease-out;
	z-index: 1000;
}
#jmodal.jmodal-modal-gallery {
	padding-bottom: 70px;
}
#jmodal.show {
	opacity: 1;
	top: 50%;
}
.jmodal-close {
	background: url('../img/jmodal-close.png');
	display: block;
	height: 39px;
	position: absolute;
	right: -19px;
	text-indent: -9999px;
	top: -19px;
	width: 39px;
}
.jmodal-content {
	background-color: #000;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	overflow: hidden;
}
.jmodal-content.loading {
	background-image: url('../img/ajax-loader-40Black.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.jmodal-content.jmodal-text {
	background-color: #fff;
	line-height: 1.4;
	margin: -20px;
	padding: 30px;
	width: 570px;
}

/* gallery links */
.jmodal-gallery-links {
	bottom: 20px;
	height: 34px;
	left: 0;
	line-height: 34px;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: center;
}
.jmodal-gallery-links a {
	color: #999;
	display: inline-block;
	font-size: 13px;
	outline: none;
	padding: 0 10px;
	text-decoration: underline;
}
.jmodal-gallery-prev {
	float: left;
}
.jmodal-gallery-next {
	float: right;
}
.jmodal-gallery-links a:hover {
	color: #fff;
}
.jmodal-gallery-links .selected {
	color: #fff;
	cursor: default;
	font-weight: 700;
	text-decoration: none;
}

.js .jmodal-target {
	left: -9999em;
	position: absolute;
	top: -9999em;
}

/* ui block */
#UIBlock {
	background: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
}